@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
}

.welcome {
  color: #ffffff;
}

nav ul div img {
  width: 20px;
}
nav ul {
  opacity: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  font-size: 18px;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 700px;
  border: 2px solid black;
}

ul {
  list-style-type: none;
}
.logoimg div {
  aspect-ratio: 1;
  border-radius: 40px;
  padding: 15px;
  transition: all 0.3s ease;
}
.logoimg div:hover {
  box-shadow: inset 1px 2px 2px rgb(63, 62, 62), -3px -2px 5px #fceeff;
  background-color: #faaefa;
}
.logo {
  cursor: pointer;
  padding: 20px;
  border-radius: 40px;
  transition: all 300ms ease;
  flex: 1;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px rgb(242, 224, 224), -1px -1px 5px rgb(207, 207, 205);
}

.logoimg {
  cursor: pointer;
  padding: 5px;
  border-radius: 40px;
  transition: all 0.5s ease;
  flex: 0.3;
  display: flex;
  justify-content: center;
}

.logo {
  transition: all ease;
  transition-duration: 300ms;
}

.logo-hover {
  box-shadow: 1px 1px 4px rgb(68, 66, 66), inset -2px -1px 2px beige;
}

.logo:active {
  scale: 0.7;
}

.logo-clicked {
  box-shadow: inset 2px 1px 2px rgb(58, 58, 58), inset -2px -1px 2px beige;
}

nav a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#home {
  margin-top: 3rem;
  position: relative;
  margin-bottom: 200px;
}

nav {
  position: fixed;
  top: 3%;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}
.astro {
  width: 300px;
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30vh;
  color: #ffadfa;
  font-size: xx-large;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.text-box {
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.content:hover {
  scale: 1.05;
  box-shadow: inset 1px 2px 2px #fc4afd;
  transform: rotate(4deg);
}

.sub-text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.sub-text div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  gap: 10rem;
}

.name span {
  flex: 1;
  display: flex;
  justify-content: center;
}

.i-am,
.aditya {
  color: #fb4bef;
  margin-top: 100vh;
  transition: 2s ease;
}

.name span span {
  color: #6bedfc;
}

.textMoveUp {
  margin-top: 0px;
}
.intro div span {
  transition: all 500ms ease;
}
.intro {
  color: black;
  display: flex;
  gap: 30px;
  flex-direction: row;
  font-size: large;
}

.intro1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}

.intro2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}

.intro2 li {
  margin: 10px;
}
.intro div {
  transition: all 5s ease !important;
  flex: 1;
  padding: 50px;
  border-radius: 10px;
  background-color: #ffffff;
}

#about-me {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.aboutMe {
  background-color: #f3d377;
  color: black;
  transform: scaleX(0);
  padding: 1rem 2rem;
  border-radius: 5px 10px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;

  transition: all 1s ease;
  scale: 0.8;
  width: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutMe-animation {
  scale: 1.1;
  transform-origin: left;
  transform: scaleX(1);
}

.below-aboutme {
  display: flex;
  gap: 50px;
  margin: 0px 100px;
}

.rocket2 {
  width: 500px;
  position: relative;
  top: 100%;
  right: 100%;
  transition: all ease;
  transition-delay: 0ms;
  transition-duration: 1s;
}

.rocket2-animation {
  top: 0%;
  right: 0%;
}

#contact-me {
  margin: 100px 0px 0px 0px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-bar img {
  width: 50px;
}

.contact-bar {
  padding: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #ffffff;
  display: flex;
  opacity: 0;
  margin-top: 30px;
  transition: all 2s ease;
}

.contact-bar-show {
  opacity: 1;
}

.con {
  aspect-ratio: 1;
  padding: 20px;
  background-color: #dddddd;
  border-radius: 50%;
  border: 5px solid white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.con:hover {
  padding: 20px;
  box-shadow: inset 3px 3px 6px black, inset -3px -3px 6px beige;
}

.contact-box p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.contact-text {
  display: flex;
  justify-content: center;
}

#my-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 300px;
}

.skill-text {
  background-color: #f3d377;
  color: black;
  transform: scaleX(1);
  padding: 1rem 2rem;
  border-radius: 5px 10px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;

  transition: all 1s ease;
  scale: 1;
  width: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
}

.skill-text-animation {
  transform-origin: left;
  transform: scaleX(1);
}

.skill-below {
  display: flex;
  gap: 50px;
  width: 70%;
}

.content p {
  margin: 0px !important;
}

.content {
  width: 100%;
  height: 80px !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 7px;
  scale: 1;
  font-family: monospace;
  font-weight: 500;
  font-style: normal;
  height: 50px;
  font-size: x-large;
  padding: 35px !important;
  margin-right: 250%;
  border-radius: 15px;
  background-color: #f5eaf7;
  box-shadow: 1px 1px 3px #ff9dff;
  color: black;
  width: 200px;
  transition: scale 0.2s ease, transform 0.2s ease, font-family 1s ease,
    font-family 1s ease, margin-right 1s ease, padding 1s ease,
    background-color 1s ease, box-shadow 1s ease;
}

.content-animation {
  font-family: "Space Grotesk", sans-serif;
  margin-right: 0px;
  height: 180px !important;
  font-size: medium !important;
  padding: 35px;
  background-color: #ed9eff;
  box-shadow: 2px 2px 2px #fc4afd;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.content-out {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-list img {
  width: 50px;
  transition: transform 2s ease, scale 300ms ease;
}

.rotate {
  transform: rotate(360deg);
}

.skill-list img:hover {
  scale: 1.5;
}

.rocket-box,
.content-out,
.skill-list {
  flex: 1;
}

.rocket-box {
  display: flex;
  justify-content: center;
  position: relative;
}

.welcome {
  text-align: center;
}

.rocket {
  width: 400px;
  scale: 0.5;
  top: 200%;
  transition: all 1.6s ease;
  position: absolute;
}

.rocket-animation {
  scale: 1;
  top: 0%;
}

.my-project img {
  width: 70%;
}

.my-project-show {
  opacity: 1 !important;
}
.my-project {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.link1,
.link2,
.link3,
.link4,
.link5,
.link6 {
  color: #ddd;
  scale: 1.1;
  transition: all 200ms ease;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover,
.link5:hover,
.link6:hover {
  color: yellow;

  scale: 1.3;
}

.link {
  display: flex;
  gap: 100px;
  cursor: pointer;
}
.link a {
  text-decoration-line: none;
}

.carousel-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px !important;
  border-radius: 20px;
}
#carousel1,
#carousel2,
#carousel3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.carousel-inner span {
  background-color: #fc4afd !important;
  padding: 5px;
  border: 1px rgb(66, 63, 63) solid;
  border-radius: 50%;
  transition: all 100ms ease;
}

.carousel-inner span:hover {
  scale: 1.1;
}
.carousel-inner span:active {
  scale: 0.9;
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px white solid;
  border-radius: 50%;
  padding: 10px;
  transition: all 200ms ease;
}

.skill-box-hover {
  border-color: black;
}

@keyframes twinkle {
  0% {
    filter: drop-shadow(0px 0px 0px #1a191a);
    transform: rotate(0deg);
  }
  50% {
    filter: drop-shadow(2px 2px 18px #e0d7e0);
    transform: rotate(5deg);
  }
  75% {
    filter: drop-shadow(2px 2px 18px #e0d7e0);
    transform: rotate(-5deg);
  }
  100% {
    filter: drop-shadow(0px 0px 0px #1c1a1c);
    transform: rotate(0deg);
  }
}

.star {
  position: fixed;
  width: 100px;
  transition: all 100ms ease;
  z-index: -5;
  animation: twinkle 1s ease-in-out infinite;
}

.star-1 {
  top: 15%;
  left: 10%;
}

.star-2 {
  top: 30%;
  left: 40%;
}

.star-3 {
  top: 10%;
  left: 80%;
}

@keyframes star-1-animation {
  0% {
    transform: translate(0%, 0%);
    margin: 0px;
    filter: drop-shadow(0px 0px 0px #e0d7e0);
  }
  30% {
    transform: translate(-50%, 32%);
    transform: rotate(1deg);
    scale: 1;
    filter: drop-shadow(2px 2px 18px #e0d7e0);
  }

  50% {
    margin: 230px 220px;
  }

  100% {
    scale: 0.9;
    transform: rotate(-3deg);
    transform: translate(0%, 0%);
    margin: 0px;
    filter: drop-shadow(0px 0px 0px #e0d7e0);
  }
}

@keyframes star-2-animation {
  0% {
    transform: translate(0%, 0%);
    margin: 0px;
    filter: drop-shadow(0px 0px 0px #e0d7e0);
  }
  30% {
    transform: translate(-10%, -112%);
    transform: rotate(2deg);
    scale: 1;
    filter: drop-shadow(2px 2px 18px #e0d7e0);
  }

  50% {
    margin: 110px 0px 3px 110px;
  }

  100% {
    scale: 0.9;
    transform: rotate(-1deg);
    transform: translate(0%, 0%);
    margin: 0px;
    filter: drop-shadow(0px 0px 0px #e0d7e0);
  }
}

@keyframes star-3-animation {
  0% {
    filter: drop-shadow(0px 0px 0px #e0d7e0);
    transform: translate(0%, 0%);
    margin: 0px;
  }

  30% {
    transform: translate(-10%, 12%);
    transform: rotate(1deg);
    scale: 1;
    filter: drop-shadow(2px 2px 18px #e0d7e0);
  }

  50% {
    margin: 213px 115px;
  }

  100% {
    scale: 0.9;
    transform: rotate(-1deg);
    transform: translate(0%, 0%);
    margin: 0px;
    filter: drop-shadow(0px 0px 0px #e0d7e0);
  }
}
.star-1-scroll {
  animation-name: star-1-animation;
  animation-duration: 1.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.star-2-scroll {
  animation-name: star-2-animation;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.star-3-scroll {
  animation-name: star-3-animation;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.newcon .newcontact {
  background-color: #f3d377 !important;
  color: white;

  background-color: #f3d377;
}

h3 {
  font-weight: 500;
}

#my-project {
  margin: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myProject {
  margin-bottom: 100px;
  background-color: #f3d377;
  transition: all 1s ease;
  scale: 0.7;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  padding: 1rem 2rem;
  border-radius: 5px 10px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
  color: black;
}
.contactMe {
  background-color: #f3d377;
  transition: all 1s ease;
  scale: 0.7;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  padding: 1rem 2rem;
  border-radius: 5px 10px;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
  color: black;
}

.scaleUp {
  transform: scaleX(1);
}

.minimize {
  scale: 0.8;
}

.nav {
  transition: all 300ms ease;
}

footer {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

@media screen and (max-width: 1597px) {
  .rocket2 {
    width: 400px;
    z-index: -1;
  }
  .rocket2-animation {
    right: 10%;
  }
  .below-aboutme {
    font-size: x-large !important;
    width: 70% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .below-aboutme {
    margin: 0px 100px;
  }
  .intro div {
    padding: 30px;
    font-size: small;
  }

  .name {
    display: flex;
    gap: 300px;
  }
  .intro div {
    font-size: large !important;
  }
}

@media screen and (max-width: 1282px) {
  #home {
    margin-bottom: 100px;
  }

  #my-skills {
    margin-bottom: 100px;
  }
  #contact-me {
    margin-top: 10px;
  }
  .rocket2-animation {
    right: 0%;
    top: 0%;
  }
  .intro div {
    font-size: x-large !important;
  }

  #about-me {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    scale: 0.8;
  }
  .below-aboutme {
    margin: 0px 40px;
    width: 100%;
    justify-content: center;
  }
  nav ul {
    width: 60%;
  }

  .text {
    font-size: large;
  }

  .rocket {
    width: 400px;
  }
  .skill-list {
    gap: 16px;
  }
  .skill-list img {
    width: 45px;
  }

  .rocket2 {
    width: 350px;
  }
  .below-aboutme {
    margin: 0px 180px;
    width: 100%;
    flex-direction: column !important;
  }

  #about-me {
    justify-content: center;
    align-items: center;
    width: 100vw !important;
  }
  .intro {
    flex-direction: column !important;
  }

  .rocket2-div {
    width: 500px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .intro div {
    border-radius: 10px;
  }
}

@media screen and (max-width: 950px) {
  nav {
    width: 100%;
  }
  nav ul {
    width: 80%;
  }
  #home {
    margin-bottom: 110px;
  }

  #my-skills {
    margin-bottom: 50px;
  }
  #contact-me {
    margin-top: 0px;
  }

  .astro {
    width: 200px;
  }

  .i-am,
  .aditya {
    font-size: large;
  }

  .intro {
    flex-direction: column !important;
  }

  #about-me {
    width: 70%;
  }

  .skill-below {
    flex-direction: column;
  }
  .skill-list {
    flex-direction: row !important;
    position: relative;
  }
  .rocket-box {
    position: static;
  }

  .contact-text {
    width: 150px;
  }

  .contactMe {
    font-size: small;
  }

  .contact-bar {
    width: 400px;
    gap: 20px;
  }
  .contact-bar img {
    width: 20px;
  }

  .contact-box {
    gap: 5px;
  }

  .name {
    gap: 105px;
    margin: 20px 0px 0px 0px;
  }
  .intro div {
    font-size: x-large !important;
  }

  .content {
    font-size: medium !important;
    width: 200px !important;
    height: 180px !important;
  }

  footer p {
    padding: 20px;
  }
}

@media screen and(max-width: 792px) {
  .carousel-inner {
    max-width: 500px;
  }
  .rocket2-div {
    width: 400px;
  }
  #home {
    margin-bottom: 100px;
  }

  .name {
    opacity: 0 !important;
    font-size: x-small !important;
  }

  #my-skills {
    margin-bottom: 50px;
  }
}

@media screen and(max-width:670px ) {
  .name {
    width: 500px !important;
    margin: 0px !important;
  }
  .i-am {
    margin-right: 20px;
  }
  .aditya {
    margin-left: 20px;
  }
  nav ul {
    width: 100%;
  }
  nav ul div img {
    width: 5px;
  }
  .logo {
    padding: 5px;
  }

  .skill-list {
    scale: 0.7;
    width: 300px;
    gap: 6px !important;
  }

  .skill-list img {
    width: 5px !important;
  }
}

@media screen and (max-width: 700px) {
  .arrow-up{
    width: 24px !important;
    height: 24px !important;
  }
  .arrow-up img{
    width: 14px !important;
  }
  #contact-me {
    margin: 0px;
  }
  .nav-mobile {
    display: flex !important;
  }
  nav ul {
    width: 0px;
    height: 0px;
  }

  nav ul a {
    pointer-events: none;
  }
  .skill-list {
    flex-wrap: wrap;
  }

  .text {
    display: flex;
    align-items: flex-start;
    font-size: small;
    height: 0px;
  }
  .welcome {
    font-size: medium;
  }
  .rocket {
    transition-duration: 5s !important;
    width: 250px;
  }

  .rocket-animation {
    z-index: 2;
    opacity: 0;
  }

  .contact-bar {
    padding: 30px !important;
    border-radius: 14px;
  }
  .con {
    padding: 15px;
  }
  .con img {
    width: 30px;
  }
  .con:hover {
    padding: 15px;
  }

  .star {
    width: 35px;
  }
  nav ul {
    z-index: -2;
    opacity: 0;
  }

  .name {
    opacity: 0;
  }

  #home {
    margin-bottom: 100px;
  }

  .name {
    opacity: 0 !important;
    font-size: x-small !important;
  }

  #my-skills {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-inner {
    max-width: 400px;
  }
  .rocket2-div,
  .rocket2 {
    width: 200px !important;
  }
  .carousel-inner {
    max-width: 400px !important;
  }
  .contact-bar {
    padding: 10px 4px !important;
    border-radius: 10px;
    gap: 6px;
    width: 400px;
  }
  .con {
    padding: 15px;
  }
  .con img {
    width: 30px;
  }
  .con:hover {
    padding: 15px;
  }
}

@media screen and (max-width: 424px) {
  .carousel-inner {
    max-width: 300px !important;
  }
  .con {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-bar img {
    width: 23px;
  }
  .contact-bar {
    padding: 8px 5px !important;
    width: 310px;
  }
  .intro,
  .below-aboutme {
    width: 100% !important;
  }
}

#my-project img {
  width: 40rem;
  height: auto;
}

.carousel-inner img {
  width: 100% !important;
  height: auto !important;
  object-position: 50% 0% !important;
}

.nav-mobile {
  gap: 10px;
  width: fit-content;
  margin: 15px 15px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border: 0px;
  transition: all 100ms ease;
  background-color: transparent;
}
.hamburger-menu div {
  border-radius: 4px;
  width: 30px;
  height: 4px;
  background-color: #fb4bef;
}

.logo-mobile {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  width: 20px;
  height: auto;
}

.nav-mobile-overlay {
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.nav-mobile-overlay a {
  text-decoration: none !important;
  color: black !important;
}

.hamburger-menu2 {
  display: flex;
  position: relative;
  cursor: pointer;
  transition: all 100ms ease;
}
.hamburger-menu:hover,
.hamburger-menu2:hover {
  scale: 1.1;
}

.hamburger-menu:active,
.hamburger-menu2:active {
  scale: 0.9;
}
.hamburger-menu2 div:nth-child(1) {
  position: absolute;
  transform: rotate(-45deg);
  width: 30px;
  height: 4px;
  background-color: #fb4bef;
}

.hamburger-menu2 div:nth-child(2) {
  position: absolute;
  transform: rotate(45deg);
  width: 30px;
  height: 4px;
  background-color: #fb4bef;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-in {
  animation: fadeIn 600ms ease-in-out;
}

.fade-out {
  animation: fadeOut 600ms ease-in-out;
}

@keyframes hamburger-animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360px);
  }
}

.hm2-ani {
  animation: hamburger-animate 1s ease-in-out;
}

.nav-mobile-menu {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 40px;
}

.nav-mobile-menu .logo {
  display: flex;
  justify-self: center;
  align-items: center;
}


.arrow-up {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 200ms ease;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100 !important;
  cursor: pointer;
}

.arrow-up:active {
  scale: 1.1;
}
.arrow-up img {
  width: 18px;
  height: auto;
}
